<%- include('header') %>
<% if(!session.user){ %>
    <link rel="stylesheet" href="/css/login.css">
<% } %>
<link rel="stylesheet" href="/css/home.css">
<script src="./js/ajax.js"></script>
<%- include('nav') %>

<% if(!session.user){ %>
    <%- include('login') %>
<% } %>

<article class="article-list">
    <% Array.prototype.forEach.call(emails,function(email){ %>
    <div class="content">
        <a target="_blank" title=" <%= email.f %> " class="post-author">
            <span class="author"><%= email.f %></span>
            <span class="times"><%= email.moment %></span> &nbsp;&nbsp;
        </a>
        <a href="/<%= sub %>/<%= email.id %>" target="_blank">           
            <h4 class="title"><%= email.title %></h4>
        
            <div class="content-fo">
            </div>
        </a>
    </div>
    <% }) %>
    <% if(!emailPageLength){ %>
        <div class="nothing">
                <p><span class="glyphicon glyphicon-list-alt"></span></p>
                <p>这里什么都没有</p>
        </div>
    <% } %>
</article>

<div style="width:50%;margin-left:25%;margin-top: 30px;text-align:center;" class="pagination" id="page"></div>	
<script src="/js/pagination.js"></script>
<script>
    	pagination({
			selector: '#page',
			totalPage: '<%= emailPageLength %>',
			currentPage: 1,
			prev: '上页',
			next: '下页',
			first: true,
			last: true,
			showTotalPage: true,
			count: 2//当前页前后显示的数量
		},function(val){
			// 当前页
			$.ajax({
				url: "<%= sub %>/page",
				type: 'POST',
				data:{
					page: val
				},
				cache: false,
				success: function (msg) {
					console.log('?'+msg);
					if (msg != false) {
						$('.article-list').html(' ')
						$.each(msg,function(i,val){
							$('.article-list').append(
                                "<div class='content'>" +
                                    '<a title="' +val.f + '" target="_blank" class="post-author">' +
                                       
                                            "<span class='author'>" + val.f + "</span>" + "&nbsp;&nbsp;" +
                                            "<span class='times'>" + val.moment + '</span>' + "&nbsp;&nbsp;" +
                                            "</a>" +
                                                '<a href="/<%= sub %>/' + val.id + '" target="_blank">' +
                                            "<h4 class='title'>" + val.title + "</h4>" +
                                        
                                        "<div class='content-fo'>" +
                                       "</div>" +
                                       "</a>" +
                                    "</div>" 
							)
						})
					}else{
						alert('分页不存在')
					} 
				}
			})
		
        })
        
</script>
</body>
</html>